<ion-content [fullscreen]="true">
  <ion-card class="authBlock">
    <ion-card-header>
      <h3>Sign In</h3>
    </ion-card-header>
    <div class="formGroup">
      <ion-input type="text" class="formControl" placeholder="Username" #email required></ion-input>
    </div>
    <div class="formGroup">
      <ion-input type="password" class="formControl" placeholder="Password" #password required></ion-input>
    </div>
    <!-- Calling SignIn Api from AuthenticationService -->
    <div class="formGroup">
      <ion-button size="small" type="submit" (click)="authenticationService.SignIn(email.value, password.value)">Log In</ion-button>
      <ion-button size="small" color="tertiary" style="float: right" (click)="signUp()">Create an Account?</ion-button>
    </div>
  </ion-card>
</ion-content>