<!-- Creation list -->
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="openModal()" color="primary" expand="full">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="archive"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-grid cdkDropListGroup>
  <ion-row>
    <ion-list-header>
      <ion-label>Available Characters</ion-label>
    </ion-list-header>
    <ion-segment [ngClass]="this.determineBoxStyling('npcs')" #availableNPCs="cdkDropList" scrollable="true" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="activeGroupList" (cdkDropListDropped)="organizeNpcs($event)" (wheel)="handleScrollWheel($event)">
      <div id="availableCharacterList" *ngFor="let npc of this.npcDatabase | async | keyvalue">
        <character-card [npc]="npc.value" [srcList]="'npcs'"></character-card>
      </div>
    </ion-segment>
  </ion-row>
  <ion-row>
    <ion-list-header>
      <ion-label>Current Group</ion-label>
    </ion-list-header>
    <ion-segment [ngClass]="this.determineBoxStyling('currentGroup')" #activeGroupList="cdkDropList" scrollable="true" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="availableNPCs" (cdkDropListDropped)="organizeNpcs($event)" (wheel)="handleScrollWheel($event)">
      <div id="currentGroupList" *ngFor="let npc of this.groupDatabase | async | keyvalue">
        <character-card [npc]="npc.value" [srcList]="'groups'"></character-card>
      </div>
    </ion-segment>
  </ion-row>
</ion-grid>